.filter-button {
   position: relative;
   margin-right: 15px;

   text-decoration: none;
   color: black;

   padding-left: 12px;

   span {
      position: absolute;
      left: 0px;
      top: 0px;
   }
}
