@font-face {
   font-family: 'Akkurat';
   src: url('~fonts/AKKURAT-Mono.otf') format('otf'),
      url('~fonts/AKKURAT-Mono.woff') format('woff');
}

/* ICOMOON */
@font-face {
    font-family: 'icomoon';
    src:    url('~fonts/icomoon.eot?1b8mkg');
    src:    url('~fonts/icomoon.eot?1b8mkg#iefix') format('embedded-opentype'),
        url('~fonts/icomoon.ttf?1b8mkg') format('truetype'),
        url('~fonts/icomoon.woff?1b8mkg') format('woff'),
        url('~fonts/icomoon.svg?1b8mkg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-right:before {
    content: "\f054";
}
.icon-square-o:before {
    content: "\e902";
}
.icon-check-square-o:before {
    content: "\e900";
}


body {
  margin: 0;
  padding: 0;

  font-family: 'Akkurat', monospace;
  font-size: 11px;
  line-height: 145%;
  -webkit-font-smoothing: antialiased; // For improved readability on Webkit
  -moz-osx-font-smoothing: grayscale;
}

.page {
  width: 600px;
  margin-left: 340px;

  &.project {
     width: 800px;
  }

  img {
     width: 800px;
  }
}

.project {
   p.caption {
      color: #888;
      margin-top: 0;
      padding-top: 0;
   }

   ul.references {
      list-style: none;
      padding-left: 0;
      li {
         color: #888;
      }
   }
}

.nav {
   position: absolute;
   top: 0;
   left: 0;

   width: 300px;

   list-style: none;

   li.home {
      padding-bottom: 10px;
   }

   li.hidden {
      visibility: hidden;
   }

   a {
      position: relative;
      color: black;
      text-decoration: none;
   }

   a.active::before {
      content: "\f054";

      position: absolute;
      left: -10px;
      top: 1px;

      font-size: 7px;

      /* use !important to prevent issues with browser extensions that change fonts */
      font-family: 'icomoon' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;

      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
   }

   /*
   a.active::before {
      content: ' ';
      display: block;
      position: absolute;
      left: -33px;

   }

   a.active::before {
      content: ' ';
      display: block;
      position: absolute;
      left: -33px;
      top: 5px;
      width: 30px;
      height: 15px;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url(~images/pointing-finger.png);
   }
   */
}
