@font-face {
   font-family: 'Akkurat';
   src: url('~fonts/AKKURAT-Mono.woff') format('woff');
   src: url('~fonts/AKKURAT-Mono.otf') format('otf');
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Akkurat', monospace;
  font-size: 11px;
  line-height: 145%;
  -webkit-font-smoothing: antialiased; // For improved readability on Webkit
  -moz-osx-font-smoothing: grayscale;
}

.page {
  width: 600px;
  margin-left: 340px;

  &.project {
     width: 800px;
  }

  img {
     width: 800px;
  }
}

.project {
   p.caption {
      color: #888;
      margin-top: 0;
      padding-top: 0;
   }

   ul.references {
      list-style: none;
      padding-left: 0;
      li {
         color: #888;
      }
   }
}

.nav {
   position: absolute;
   top: 0;
   left: 0;

   width: 300px;

   list-style: none;

   li.home {
      padding-bottom: 10px;
   }

   li.hidden {
      visibility: hidden;
   }

   a {
      position: relative;
      color: black;
      text-decoration: none;
   }
   a.active::before {
      content: ' ';
      display: block;
      position: absolute;
      left: -14px;
      top: 1px;
      width: 30px;
      height: 15px;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url(~images/pointing-finger.png);
   }
}
